attrs==19.3.0
blinker==1.4
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==2.3.2
Flask-Mail==0.9.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
more-itertools==7.2.0
pyrsistent==0.15.5
requests==2.25.1
six==1.13.0
urllib3==1.26.5
Werkzeug==2.2.3
zipp==0.6.0
